<h1>Add my basketball team</h1>
<form>
  <div>
    <label for="team_name">Name</label>
    <input id="team_name" name="team[name]"></input>
  </div>
  <div>
    <label for="team_url">Url</label>
    <input id="team_url" name="team[url]" type="url"></input>
  </div>
  <input type="submit" value="Add"/>
</form>
