---
http_interactions:
- request:
    method: post
    uri: https://api.playhq.com/graphql
    body:
      encoding: UTF-8
      string: '{"operationName":"teamFixture","variables":{"teamID":"query_broken"},"query":"query
        teamFixture($teamID: ID\\u0021) {\n    discoverTeamFixture(teamID: $teamID)
        {\n      id\n    name\n    provisionalDate\n    grade {\n        id\n      name\n      season
        {\n          id\n        name\n        competition {\n            id\n          name\n          organisation
        {\n              id\n            name\n            __typename\n          }\n          __typename\n        }\n        __typename\n      }\n      __typename\n    }\n    fixture
       [...]
